language: go

os:
  - linux
  - osx

go:
  - 1.2.x
  - 1.3.x
  - 1.4
  - 1.5.x
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - tip

before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls

script:
  - go test -v -tags ci ./...
  - $GOPATH/bin/goveralls -service=travis-ci -ignore="examples/callbacks/callbacks.go,examples/dataloader/dataloader.go,examples/mycachedapp/mycachedapp.go"

notifications:
  email:
    on_success: change
    on_failure: always
